body {
    background-color: rgb(85, 39, 83);

}



form {
    text-align: center;
    color: black;
}

input {
    font-size: 25px;
    padding: 7px;
    width: 200px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    background: #e6e6e6;
    outline: none;
    color: blue;
}

.submit {
    width: 90px;
    font-size: medium;
}

label {
    color: yellow;
    font-weight: bolder;
}